/* App.css */

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.addButton {
  margin-bottom: 10px;
}

.blockContainer {
  margin-bottom: 10px;
}

.textArea {
  font-size: 14px;
  margin: 20px;
}

.uploadButton {
  font-size: 14px;
  margin: 20px;
}
button{
  margin: 5px;
}
